@model IEnumerable<Project_2.Models.SaleDetail>

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Details</h2>
    <br />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.SaleKey)</th>
            <th>@Html.DisplayNameFor(model => model.Product.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.SaleDetailPriceCharged)</th>
            <th>@Html.DisplayNameFor(model => model.SaleDetailQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.SaleDetailDiscount)</th>
            <th>@Html.DisplayNameFor(model => model.SaleDetailSaleTaxPercent)</th>
            <th>@Html.DisplayNameFor(model => model.SaleDetailEatInTax)</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.SaleKey)</td>
                <td>@Html.DisplayFor(model => item.Product.ProductName)</td>
                <td>@Html.DisplayFor(model => item.SaleDetailPriceCharged)</td>
                <td>@Html.DisplayFor(model => item.SaleDetailQuantity)</td>
                <td>@Html.DisplayFor(model => item.SaleDetailDiscount)</td>
                <td>@Html.DisplayFor(model => item.SaleDetailSaleTaxPercent)</td>
                <td>@Html.DisplayFor(model => item.SaleDetailEatInTax)</td>
            </tr>
        }
    </table>
</div>